@font-face {
/* The Font is Copyed from https://github.com/erikflowers/weather-icons ,Thank You 
Bad English blablabla */
    font-family: 'weather';
    src: url('font/weathericons-regular-webfont.eot');
    src: url('font/weathericons-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/weathericons-regular-webfont.woff') format('woff'),
         url('font/weathericons-regular-webfont.ttf') format('truetype'), 
         url('font/weathericons-regular-webfont.woff2') format('woff2'),
         url('font/weathericons-regular-webfont.svg#weather_iconsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.weather {
    font-family: weather;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}
#noweather{
    font-size: 0.8em;
    color: #bbb;
}
.feel:after{
    content: "°C 体感温度";
    font-size: 0.6em;
}
.feel{
    font-size: 0.6em;
    color: #ccc;
}
#tinfo{
    position: relative;
    top:-10%;
    color: #bbb;
    font-size: 0.4em;
}

.aqi:before{
    position: relative;
    top:-0.1em;
    font-family: sans-serif;
    font-size: 0.75em;
    content: "AQI:";
    margin-right: .2em;
}
.pressure:before{
    content: '\f079';
    font-family: weather;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    margin-right: 0.2em;
}
.pressure:after{
    margin-left: 0.1em;
    font-size: 0.75em;
    content:'hPa';
    padding-right: 0.8em;
}
.hum:before{
    content: '\f07a';
    font-family: weather;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    margin-right: 0.2em;
}
.hum:after{
    font-size: 0.75em;
    content:'%';
    padding-right: 0.8em;
}
.wind{
    font-family: weather;
}
.windd {
    font-family: weather;
}
#tinfo > .wind{
    margin-right: 0.8em;
    font-size: 1.2em;
}
#tinfo > .windd{
    font-size: 1.2em;
    display: inline-block;
}
#locate{
    font-family: MFYHL;
    position: absolute;
    font-size: 0.4em;
    right: 5em;
    color: #666
}
.fresh{
    font-family: MFYHL;
    position: absolute;
    font-size: 0.4em;
    right: 0;
    color: #444
}
.fresh:before{
    content: "\f04c";
    font-family: weather;
}
.weather1:after{
    font-family: MFYHL;
    content: ' ~ ';
}
#today_forecast{
    display: block;
    width: 100%;
}
#today_forecast > div{
    width: 3em;
    float: right;
    font-size: 0.5em;
    color: #bbb;
    text-align: center;
}
#today_forecast>div>.weather{
    width: 100%;
    position: relative;
    top: -0.1em;
    font-size: 1.25em;
}
#today_forecast > div > .hint {
    font-family: MFYHL;
    color: #888;
    font-size: 0.7em;
    position: relative;
    top: 0.25em;
}
#today_forecast > div > .temp {
    font-family: MFYHL;
    font-size: 0.9em;
    position: relative;
    display: block;
    top: -0.5em;
}
#today_forecast > div > .wind {
    font-family: weather;
    font-size: 0.8em;
}
#today_forecast > div > .windd {
    font-family: weather;
    display: inline-block;
    font-size: 0.8em;
}
#today_forecast > div > .aqi {
    font-size: 0.75em;
    margin-right: 1.5em;
}
#\31 d {
    color: #888;
}
#\32 d {
    color: #666;
}
#\33 d {
    color: #444;
}
#forecast > div {
    position: relative;
    font-size: 0.5em;
    float: right;
    width:65%;
    margin-bottom: 0.25em;
}
#forecast>div>.temp{
    display: inline-block;
}
#forecast>div>.weather{
    position: relative;
    font-size: 1.5em;
}
#forecast>div>.hint{
    position: relative;
    float: left;
    font-size: 0.9em;
    width: 1em;
}
#forecast>div>.temp>.temp1:after{
    content: '~';
    margin-left: 0.2em;
    margin-right: 0.2em;
}
#forecast>div>.temp>.temp2:after{
    content: '°C';
}
#forecast>div>.wind{
    position: absolute;
    left: 1.5em;
}
#forecast>div>.aqi{
    display: block;
    float: left;
    position: absolute;
    top:1.5em;
    left: 1.2em;
    font-size: 0.8em;
    font-family: MFYHL;
}
.eq:before{
    content: ' ';
}
.gt:before{
    content: '>';
}
.lt:before{
    content: '<';
}