<!DOCTYPE>
<div id="main" align="center">
    <table class="table table-hover" border="1">
        <tr>
            <td align="center" width="50%"><span style="font-size:20pt">小玩意</span>
                <br />
            </td>
            <td align="center" width="50%"><span style="font-size:20pt">链接</span>
                <br />
            </td>
        </tr>
        <tr>
            <td align="center" width="50%"><span style="font-size:20pt">弃了的坑</span>
                <br />
            </td>
            <td align="center" width="50%"><a href="/a/"><span style="font-size:20pt">MySQL</span></a><br />
            </td>
        </tr>
        <tr>
            <td align="center" width="50%"><span style="font-size:20pt">玄学框架</span>
                <br />
            </td>
            <td align="center" width="50%"><a href="/p/"><span style="font-size:20pt">MCV</span></a><br />
            </td>
        </tr>
        <tr>
            <td align="center" width="50%"><span style="font-size:20pt">远程打印</span><span style="font-size:14pt;color:#aaaaaa">BETA</span>
                <br />
            </td>
            <td align="center" width="50%"><a href="/u/"><span style="font-size:20pt">Link</span></a><br />
            </td>
        </tr>
    </table>
</div><br/>