<!DOCTYPE html>
<div class="navbar">
    <div class="logo"><img src="/static/favicon.ico" /></div>
    <ul>
        <li class="navitem"><a>main</a></li>
        <li class="navitem"><a>li1</a></li>
        <li class="navitem"><a>li2</a></li>
        <li class="navitem"><a>li3</a></li>
        <li class="navitem"><a>li4</a></li>
    </ul>
</div>
<!--<marquee behavior='alternate' >
	<b><span style='font-size:22.0pt;font-family:等线;color:red'>欢迎来到我的小站，所有的一切都在建设中^_^</span></b>
	<span style='font-size:12pt;color:#dddddd'>偷懒中</span>
</marquee></br>
 -->