@font-face {
/* MFYueHei From Internet*/
    font-family: 'MFYH';
    src: url('font/MFYH.eot'); /* IE9 Compat Modes */
    src: url('font/MFYH.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('font/MFYH.woff') format('woff'), /* Modern Browsers */
         url('font/MFYH.otf') format('opentype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}    
@font-face {
/* MFYueHei-Light From Internet*/
    font-family: 'MFYHL';
    src: url('font/MFYHL.eot'); /* IE9 Compat Modes */
    src: url('font/MFYHL.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('font/MFYHL.woff') format('woff'), /* Modern Browsers */
         url('font/MFYHL.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
:after{
    font-family: MFYHL;
}
body,
html {
  background: black;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  font-family: "MFYH", sans-serif;
  letter-spacing: -1px;
  color: white;
  font-size: 1.9em;
  -webkit-font-smoothing: antialiased;
  text-rendering: geometricprecision;
}
.top{
    position: absolute;
    top:40px;
}
.left{
    position: absolute;
    left:40px;
}
.right{
    position: absolute;
    right: 40px;
    text-align: right;
}
span{
    padding: 0px;
    margin: 0px;
}
#date {
    position: relative;
    font-size: 0.7em;
}
#date>#year:after{
    content:"年";
}
#date>#month:after{
    content:"月";
}
#date>#day:after{
    content:"日";
}
#date>#week{
    position: relative;
    top: -0.25em;
    margin-left: 0.5em;
    font-size: 0.7em;
    color: #888;
}
#time {
    font-weight: bold;
    font-size: 1.5em;
}
#time>#hour:after{
    content:":";
}
#time>#second{
    font-family: MFYHL;
    font-weight: normal;
    position: relative;
    margin-left: 0.125em;
    font-size: 0.5em;
    top:-0.675em;
    color: gray;
}
#lunar:before{
    content:"农历";
    margin-right: 0.1em;
}
#lunar{
    color:#aaa;
    font-size: 0.5em;
}